<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alkali.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC1CB85A1E70568400A8349B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC1CB86A1E7056BC00A8349B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC1CB8771E7056CD00A8349B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
